{namespace bidsy.ui.upcoming}

/**
 * @param images
 * @param title
 */
{template .main}
  <img class="queued-thumb img-polaroid" src="{$images[0]}" />
  <div class="queued-title">{$title}</div>
{/template}
